.shadow
{
	background-color:#888888;
    display:flex;
}
.pdiv{
	display:flex;
	
}

.bodycolor{
	background-color:rgb(199,213,252);
}
@font-face {
font-family: 'PTSans';
src: url('fonts/PTSansRegular.woff2') format('woff2'),
url('fonts/PTSansRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}
.p2{
	font-family:PTSans,Arial,sans-serif;
	font-size: 50%;
	
}
.sidebar {
	display:flex;
	flex-direction:column;
	margin-top:10%;
	margin-left: 75%;
	padding: 15px;
	background: #E9F5FE;
}
p{
	 font-family: "Palatino Linotype", Baskerville, serif;
	 font-size:90%;
}